@import '../../../../assets/styles/abstracts/text-color.scss';

@import '../../../../assets/styles/components/inputs.scss';

@import '../../../../assets/styles/components/button.scss';


.fa-regular{
    cursor: pointer;
}

.lock{
    background-color: transparent;
    border: none;
}