<div class="py-2">
    <table class="table table-striped ">
        <thead class=" table-secondary" style="border-radius: 20px;">
            <tr style="border-radius: 20px;" *ngIf="tableDefinitionText === 'facilities'">
                <th class="p-3" *ngFor="let header of tableHeaders">

                    {{ header }}

                </th>
            </tr>
        </thead>
        <tbody>

            <ng-container *ngIf="isFacilities(tableBodyContent)">
                <tr *ngFor="let tableBody of tableBodyContent">
                    <td>{{ tableBody.name }}</td>
                    <td>{{ tableBody.createdBy.userName }}</td>
                    <td>{{ tableBody.createdAt | date: 'short' }}</td>
                    <td>{{ tableBody.updatedAt | date: 'short' }}</td>
                    <td>
                        <button mat-icon-button [matMenuTriggerFor]="menu" class="text-black position-relative z-3"
                            aria-label="Example icon-button with a menu">
                            <mat-icon class="text-black">more_horiz</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" class="matMenu">
                            <button class="btn-hover" mat-menu-item type="button" (click)="viewItem(tableBody._id,tableBody.name)">
                                <mat-icon class="text-primary-color">visibility</mat-icon>
                                <span class="text-black">View</span>
                            </button>
                            <button class="btn-hover" mat-menu-item (click)="isEdited(tableBody._id,tableBody.name)">
                                <mat-icon class="text-primary-color  ">edit_square</mat-icon>
                                <span class="text-black ">Edit</span>
                            </button>
                            <button mat-menu-item class="btn-hover" type="button" (click)="deleteItem(tableBody._id,tableBody.name)">
                                <mat-icon class="text-primary-color">delete</mat-icon>
                                <span class="text-black">Delete</span>
                            </button>
                        </mat-menu>
                    </td>
                </tr>

            </ng-container>
        </tbody>
    </table>
</div>