<div class="container p-4">
    <div class="row ">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Update Your Comment</h2>
            <i (click)="onNoClick()" class="fa-solid fa-circle-xmark close"></i>
        </div>
        <form action="" [formGroup]="updateCommentForm" (ngSubmit)="onUpdateComment(data.id , updateCommentForm)">
            <div class="mb-5">
                <label for="message" class="mb-3">Message</label>
                <input formControlName="comment"  name="message" rows="5" id="message" class="form-control">
            </div>
            <div class="w-100 text-end mt-3 ">
                <button type="submit" [disabled]="updateCommentForm.invalid" class="primary w-25">Update</button>
            </div>
        </form>
    </div>

</div>