<section class="auth">

    <div class="row    g-4 ">
        <div class="col-md-6   order-md-0 order-1 ">

            <div class="d-flex flex-column align-items-start  vh-100">
                <h1 class=" text-primary-color p-2 ">Stay<span
                        class="text-secondary-color">cation.</span> </h1>

                <div class="w-75  m-auto bg-dark">
                    <div>
                        <h2>Sign up</h2>
                        <p class="text-p">If you already have an account
                            register <br>
                            You can <span type="button"
                                class="text-red-color"
                                routerLink="/auth/login"> &nbsp;&nbsp;Login
                                here !!</span> </p>

                    </div>

                    <form [formGroup]="registerForm"
                        (ngSubmit)="register(registerForm)" class="mt-1">

                        <!--user Name-->
                        <div class="d-flex flex-column">
                            <label for="userName" class="mb-1"> User
                                Name</label>
                            <div class="input-group ">
                                <input formControlName="userName" type="text"
                                    class="form-control w-100"
                                    placeholder="Please type here ..."
                                    id="userName" aria-label="userName"
                                    aria-describedby="basic-addon1">

                            </div>
                        </div>

                        <div *ngIf="registerForm.get('userName')?.errors
                       && registerForm.get('userName')?.touched"
                            class="d-flex align-items-center mt-1">
                            <img src="./assets/images/invalid.png"
                                width="22" height="22" alt class="mx-2">
                            <p
                                *ngIf="registerForm.get('userName')?.getError('required')"
                                class="m-0 text-danger ">User name is
                                required</p>

                        </div>
                        <div class="row mt-1">
                            <div class="col-md-6">
                                <!--phone Number-->
                                <div class="d-flex flex-column">
                                    <label for="phoneNumber" class="mb-1"> Phone
                                        number</label>
                                    <div class="input-group ">
                                        <input formControlName="phoneNumber"
                                            type="text"
                                            class="form-control w-100"
                                            placeholder="Please type here ..."
                                            id="phoneNumber"
                                            aria-label="phoneNumber"
                                            aria-describedby="basic-addon1">

                                    </div>
                                </div>

                                <div
                                    *ngIf="registerForm.get('phoneNumber')?.errors
                             && registerForm.get('phoneNumber')?.touched"
                                    class="d-flex align-items-center mt-1">
                                    <img src="./assets/images/invalid.png"
                                     
                                        width="22" height="22" alt class="mx-2">
                                    <p
                                        *ngIf="registerForm.get('phoneNumber')?.getError('required')"
                                        class="m-0 text-danger ">Phone number is
                                        required</p>
                                    <p
                                        *ngIf="registerForm.get('phoneNumber')?.getError('pattern')"
                                        class="m-0 text-danger ">Phone number
                                        must start with 01 and be 11 digits in
                                        total</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!--country-->
                                <div class="d-flex flex-column">
                                    <label for="country" class="mb-1">
                                        Country</label>
                                    <div class="input-group ">
                                        <input formControlName="country"
                                            type="text"
                                            class="form-control w-100"
                                            placeholder="Please type here ..."
                                            id="country" aria-label="country"
                                            aria-describedby="basic-addon1">

                                    </div>
                                </div>

                                <div *ngIf="registerForm.get('country')?.errors
                               && registerForm.get('country')?.touched"
                                    class="d-flex align-items-center mt-1">
                                    <img src="./assets/images/invalid.png"
                                        width="22" height="22" alt class="mx-2">
                                    <p
                                        *ngIf="registerForm.get('country')?.getError('required')"
                                        class="m-0 text-danger ">Country is
                                        required</p>

                                </div>
                            </div>

                        </div>
                        <!--email-->
                        <div class="mt-1 d-flex flex-column">
                            <label for="email" class="mb-1">Email
                                Address</label>
                            <div class="input-group ">
                                <input formControlName="email"
                                    type="email" class="form-control w-100"
                                    placeholder="Please type here ..."
                                    id="email" aria-label="Username"
                                    aria-describedby="basic-addon1">

                            </div>
                        </div>

                        <div *ngIf="registerForm.get('email')?.errors && 
                      registerForm.get('email')?.touched"
                            class="d-flex align-items-center mt-1">
                            <img src="./assets/images/invalid.png" width="22"
                                height="22" alt class="mx-2">
                            <p
                                *ngIf="registerForm.get('email')?.getError('required')"
                                class="m-0 text-danger ">Email is required</p>
                            <p
                                *ngIf="registerForm.get('email')?.getError('email')"
                                class="m-0 text-danger">Invalid email</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                               <!--password-->
                        <div class=" mt-1 d-flex flex-column ">
                            <label for="password" class="mb-1">Password</label>

                            <div class="input-group d-flex align-items-center">
                                <input formControlName="password"
                                    [type]="hidePassword? 
                            'password':'text'" class="form-control"
                                    placeholder="Please type here ..."
                                    id="password" aria-label="Username"
                                    aria-describedby="basic-addon1">
                                <span>
                                    <i (click)="hidePassword=!hidePassword"
                                        class="fa-regular  
                            fs-5 pe-3 hide"
                                        [class]="hidePassword? 'fa-eye-slash':'fa-eye' "></i>
                                </span>
                            </div>

                        </div>

                        <div
                            *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
                            class="d-flex align-items-center mt-1">
                            <img src="./assets/images/invalid.png" width="22"
                                height="22" alt class="mx-2">
                            <p
                                *ngIf="registerForm.get('password')?.getError('required')"
                                class="text-danger m-0">Password is required</p>
                            <p
                                *ngIf="registerForm.get('password')?.getError('pattern')"
                                class="text-danger m-0">Password must contain
                                capital,samll letters,numbers,special charcters
                                and must be greater than 8</p>
                        </div>
                            </div>
                            <div class="col-md-6">
                              <!--confirm Password-->
                        <div class=" mt-1 d-flex flex-column ">
                            <label for="confirmPassword" class="mb-1">confirm
                                Password</label>

                            <div class="input-group d-flex align-items-center">
                                <input formControlName="confirmPassword"
                                    [type]="hideConfirmPassword? 
                                    'password':'text'" class="form-control"
                                    placeholder="Please type here ..."
                                    id="confirmPassword" aria-label="Username"
                                    aria-describedby="basic-addon1">
                                <span>
                                    <i
                                        (click)="hideConfirmPassword=!hideConfirmPassword"
                                        class="fa-regular  
                                    fs-5 pe-3 hide"
                                        [class]="hideConfirmPassword? 'fa-eye-slash':'fa-eye' "></i>
                                </span>
                            </div>

                        </div>

                        <div
                            *ngIf="registerForm.get('confirmPassword')?.errors && 
                             registerForm.get('confirmPassword')?.touched"
                            class="d-flex align-items-center mt-1">
                            <img src="./assets/images/invalid.png" width="22"
                                height="22" alt class="mx-2">
                            <p
                                *ngIf="registerForm.get('confirmPassword')?.getError('required')"
                                class="text-danger m-0">Confirm password is
                                required</p>
                            <p
                                *ngIf="registerForm.get('confirmPassword')?.getError('pattern')"
                                class="text-danger m-0">
                                Password must contain capital,samll
                                letters,numbers,special charcters and must be
                                greater than 8
                            </p>
                        </div>
                            </div>
                        </div>
                       
                       

                        <button [disabled]="registerForm.invalid"
                            class="primary w-100 mt-1 mb-1 p-2">Sign up</button>

                    </form>

                </div>

            </div>

        </div>

        <div class="col-md-6 order-md-1 order-0">
            <div class="photo vh-100 py-3">
                <img src="../../../../../assets/images/register.png"
                    class="w-100 h-100 " alt>

                <div class="layer ">
                    <h2>Sign up to Roamhome</h2>
                    <p>Homes as unique as you.</p>
                </div>
            </div>
        </div>

    </div>

</section>
