<section>
    <div class="container p-4">
  
        <h2 class=" text-secondary-color">{{headerName}}</h2>
         
       
        <form class="mt-1">
        <div class="row g-4  ">
            <div class="col-md-12">
                <div class="input-group">
                    <input
                     
                      type="text"
                      class="form-control w-100"
                      placeholder="Room name"
                      [(ngModel)]="data.room"
                      [value]="data.room"
                      [ngModelOptions]="{standalone: true}"
                      
                      id="room"
                      aria-label="Username"
                      aria-describedby="basic-addon1"
                    />
                  </div>
            </div>
         
  
            <div class="col-md-12">
                <div class="input-group">
                    <input
                     
                      type="number"
                      class="form-control w-100"
                      placeholder="discount"
                      [(ngModel)]="data.discount"
                      value="{{data.discount}}"
                      [ngModelOptions]="{standalone: true}"
                      [disabled]="data.view"
                      id="price"
                      aria-label="Username"
                      aria-describedby="basic-addon1"
                    />
                  </div>
            </div>
            <div class="col-md-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="data.isActive" 
                    [disabled]="data.view"
                    [value]="data.isActive"
                    [ngModelOptions]="{standalone: true}" name="isActive">
                      <mat-option [value]="true">
                      <span>Active</span>
                      </mat-option>
                      <mat-option [value]="false">
                        <span >Not Active</span>
                        </mat-option>

                    </mat-select>
                  </mat-form-field>
                
          </div>
            </div>
  
            <div class="btns  mt-4  text-end">
              <button routerLink="/manager/ads/" class="cancel mx-4 " type="button" (click)="onNoClick()">Cancel</button>
              <button  class="primary " [matDialogClose]="data"
              [mat-dialog-close]="data"
              [class]="data.view? 'hide':'show'">Save</button>
            </div>
        </form>
  
    </div>
  </section>
  
  
