<section class="px-2">
    <div class="d-flex justify-content-end mt-4 me-2"><i class="fa-regular fa-circle-xmark fa-2xl text-danger" (click)="onNoClick()"></i></div>

    <div class="container p-4">


        <h2 class=" text-secondary-color fs-4">{{data.isEdit?'Edit this ads':'View this ads'}}</h2>

         <div class="row mt-4">
          <div class="col-md-12">

            <div class="title d-flex  align-items-center" >
                <h2 class=" m-0 text-secondary-color h4">Room :</h2>
                <span class="ms-2 fs-6">
                    {{data.roomNumber}}
                </span>
              </div>

        </div>
         </div>
        <form class="mt-2">
        <div class="row g-4  ">



            <div class="col-md-12">
                <mat-form-field appearance="outline"  class="w-100">
                    <mat-label class="lable">Discount</mat-label>
                    <input  [disabled]="!data.isEdit" [value]="data.discount" [(ngModel)]="data.discount" name="discount"  type="number" placeholder="Discount" class="" matInput>
               
                  </mat-form-field>
            </div>


            <div class="col-md-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="data.isActive" 
                    [disabled]="!data.isEdit"
                    [value]="data.isActive"
                     name="isActive">
                      <mat-option [value]="true">
                      <span>Active</span>
                      </mat-option>
                      <mat-option [value]="false">
                        <span >Not Active</span>
                        </mat-option>

                    </mat-select>
                  </mat-form-field>



          </div>
            </div>

            <hr class="text-muted">
 
            <div class="btns  mt-4  text-end">
              <button routerLink="/manager/ads/" class="cancel mx-4 " type="button" (click)="onNoClick()">Cancel</button>
              <button   class=" " [matDialogClose]="data"
              [mat-dialog-close]="data"
              [class]="data.isEdit? 'primary':'delete'">{{data.isEdit ? 'Update':'Delete'}}</button>
            </div>
        </form>

    </div>
  </section>