<section class="bg-white p-3">
    <div class="d-flex justify-content-end mt-2"><i class="fa-regular fa-circle-xmark fa-xl text-danger" (click)="_DialogRef.close()"></i></div>
    <div class="d-flex justify-content-center mt-5"><img src="./assets/images/Email.svg" alt=""></div>
    <h2 class="text-center mt-5" *ngIf="data.comp=='fac'">Delete This Facility?</h2>
    <p class="text-center">are you sure you want to delete this <span class="fw-semibold">{{data.name}}</span> if you are sure just click on delete it</p>
    <button class="d-block ms-auto mt-2 px-3 py-2 rounded-2" [mat-dialog-close]="data.id">Delete</button>
</section>

