<div class="container-fluid mt-4">
  <div class="row">
    <!--header-->
    <app-shared-header [headerBtnText]="btnText" [headerMainText]="headerText" [headerPargraph]="headerPargraph"
      (addClicked)="addAdmin()"></app-shared-header>

    <!--search and filter-->
    <div class="col-md-12">
      <mat-form-field appearance="outline" class="w-50">
        <button mat-icon-button matPrefix>
          <mat-icon>search</mat-icon>
        </button>
        <mat-label>Search by username</mat-label>
        <input matInput type="text" placeholder="Search by username" #searchValue [(ngModel)]="search"
          (keyup.enter)="filtetByUserName(searchValue)" (keydown.backspace)="resetSearcgInput()" />
        <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearcgInput()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- table -->
    <div class="py-2">
      <table class="table table-striped ">
        <thead class=" table-secondary" style="border-radius: 20px;">
          <tr style="border-radius: 20px;">
            <th class="p-3">Username </th>
            <th class="p-3">Email </th>
            <th class="p-3">Phone number </th>
            <th class="p-3">Role </th>
            <th class="p-3">Created at </th>
            <th class="p-3">View</th>
          </tr>

        </thead>
        <ng-container *ngIf="allUsersData.users.length >0">
          <tbody>
            <tr *ngFor="let item of allUsersData.users">
              <td class="p-4">{{ item.userName }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.phoneNumber }}</td>
              <td>{{ item.role }}</td>
              <td>{{ item.createdAt | date: 'short' }}</td>
              <td>
                <button (click)="veiwItem(item._id)" class="bg bg-transparent text-end">
                  <mat-icon>visibility</mat-icon>
                </button>
              </td>
  
            </tr>
          </tbody>
        </ng-container>
      
      </table>
      <ng-container *ngIf=" allUsersData.users.length == 0 ">
        <app-no-data></app-no-data>
        </ng-container>
    </div>



  <!--pagination-->
  <ng-container *ngIf="totalCount >0">
    <mat-paginator
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="changePage($event)"
    aria-label="Select page">
  </mat-paginator>
  </ng-container>


  </div>

</div>
