<div class="container p-2">

    <div class="d-flex align-items-center p-0 m-0">
        <h3 style="cursor: pointer;" (click)="back()" class="m-0 p-0">Back To Home </h3>
    </div>
    <h1 class="mt-4">All Faveriote Rooms</h1>
    <div *ngIf="favList" class="row bg-info flex-row " style="flex-direction: row!important;">
        <div class="col-md-4 bg-danger " *ngFor="let room of favList.data.favoriteRooms">
            <div *ngFor="let item of room.rooms" class=" card-sm mt-4 w-100">
                <img [src]="item.images[0]" alt="" class="w-100 imgHeight2  rounded-4">
                <div class="imag-captain">
                    <h4 class=" text-white title">{{item.roomNumber}}</h4>
                    <!-- <h5 class=" text-white userName">{{item.price}}</h5> -->
                </div>
                <div class="imag-price px-5">
                    <p class="text-white">$ <span class="h6 text-white fw-bolder">{{item.price}}</span>
                </div>
            </div>


        </div>
    </div>

    <!-- pagination-->
    <mat-paginator
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="changePage($event)"
    aria-label="Select page">
  </mat-paginator>
</div>