<section class="auth">

    <div class="row  align-items-center  g-4">
        <div class="col-md-7 ">

       <div>
        <h2 class=" ">Staycation.</h2>

        <div class="w-75  m-auto">

     
        <div>
         <h2 class="text-dark mb-4">Forget Password</h2>
         <p>If you already have an account register</p>
         <p>You can  <span class="text-secondary-color " type="button" routerLink="/auth/register"> &nbsp;&nbsp;Login here !</span> </p>
        </div >

            
                <form [formGroup]="fogetForm" (ngSubmit)="handleForget()"   class="mt-4">
                    
                    <div class="i d-flex flex-column">
                        <label for="email" class="text-secondary-color">Email Address</label>
                        <div class="input-group ">
                            <input formControlName="email" type="email" class="form-control w-100" placeholder="Please type here ..." id="email" aria-label="Username" aria-describedby="basic-addon1">

                        </div>
                      </div>

                      <div *ngIf="fogetForm.get('email')?.errors && fogetForm.get('email')?.touched" class="d-flex align-items-center mt-1">
                        <img src="./assets/images/invalid.png" width="22" height="22" alt="" class="mx-2">
                        <p *ngIf="fogetForm.get('email')?.getError('required')" class="m-0 text-danger ">Email is required</p>
                        <p *ngIf="fogetForm.get('email')?.getError('email')" class="m-0 text-danger">Invalid email</p>
                      </div>

                      <button [disabled]="fogetForm.invalid" class="primary w-100 mt-4">Send mail</button>

                     


                </form>
                  
            </div>

                
            </div>





        </div>


        <div class="col-md-5 position-relative">
            <div>
                <img src="./assets/images/forget.png" class="w-100 vh-100 py-3" alt="">
            </div>
            <div class="position-absolute top-0 h-100 start-0 w-100 d-flex justify-content-end align-items-start flex-column">
             <div class="ms-5">
                <h1 class="text-white fw-bold m-0">Forget Password</h1>
                <p class="text-white mb-5">Homes as unique as you.</p>
             </div>
            </div>
        </div>



    </div>




</section>

