<section class="auth">

    <div class="row  align-items-center  g-4">
        <div class="col-md-6   order-md-0 order-1 ">

       <div class="d-flex flex-column align-items-start  vh-100">
        <h1 class=" text-primary-color p-3 ">Stay<span class="text-secondary-color">cation.</span> </h1>

        <div class="w-75  m-auto">


        <div>
         <h2 >Forgot Password</h2>
         <p class="text-p">If you already have an account, register</p>
         <p class="text-p">You can  <span class="text-red-color" type="button" routerLink="/auth/login"> &nbsp;&nbsp;Login here !</span> </p>
        </div >


                <form [formGroup]="fogetForm" (ngSubmit)="handleForget()"   class="mt-4">

                    <div class="i d-flex flex-column">
                        <label for="email" class="text-secondary-color">Email Address</label>
                        <div class="input-group ">
                            <input formControlName="email" type="email" class="form-control w-100" placeholder="Please type here ..." id="email" aria-label="Username" aria-describedby="basic-addon1">

                        </div>
                      </div>

                      <div *ngIf="fogetForm.get('email')?.errors && fogetForm.get('email')?.touched" class="d-flex align-items-center mt-1">
                        <img src="./assets/images/invalid.png" width="22" height="22" alt="" class="mx-2">
                        <p *ngIf="fogetForm.get('email')?.getError('required')" class="m-0 text-danger ">Email is required</p>
                        <p *ngIf="fogetForm.get('email')?.getError('email')" class="m-0 text-danger">Invalid email</p>
                      </div>

                      <button [disabled]="fogetForm.invalid" class="primary w-100 mt-4">Send mail</button>




                </form>

            </div>


            </div>





        </div>


        <div class="col-md-6 fullImage">
            <div class="photo vh-100 py-3">
                <img src="./assets/images/forget.png" class="w-100 h-100" alt="">
                <div class="layer ">
                  <h2 >Forgot Password</h2>
                  <p >Homes as unique as you.</p>
                </div>
            </div>
        </div>
    </div>




</section>

