<div class="container">
  <div class="row">
    <app-shared-header [headerBtnText]="'Add New Facility'" [headerMainText]="'Facilities Table Details'"
      [headerPargraph]="'You can check all details'" (addClicked)="addFacility()"></app-shared-header>

    <app-shared-table
     [tableHeaders]="tableHeaders"
      [tableDefinitionText]="'facilities'"
      [tableBodyContent]="data" 
      (edit)="editOrView($event,true)"
      (view)="editOrView($event,false)"
      (delete)="willBeDeleted($event)"
      ></app-shared-table>
  </div>

</div>