<section class="change-pass p-4">
  <div class="d-flex justify-content-end mt-3 me-1">
    <i
      class="fa-regular fa-circle-xmark fa-2xl text-danger"
      (click)="onNoClick()"
    ></i>
  </div>

  <div class="auth-card">
    <div class="m-auto text-center">
      <a class="popup-brand" href="#"><span>Stay</span>cation</a>
    </div>

    <div class="mb-4 text-center py-3 pt-5">
      <h1 class="text-secondary-color">Action can't be completed, because you are logged out!</h1>
    </div>

    <div class="mb-4  d-flex">
      <p class="text-secondary-color px-1">Don't have an account?</p>
      <p class="text-secondary-color"><a [routerLink]="[ '/auth/register']" (click)="onNoClick()">Register here!</a></p>
    </div>

    <div class="btns  mt-4 d-flex justify-content-between">
      <button (click)="onNoClick()" class="cancel mx-4 " type="button">Cancel</button>
      <button class="primary" [routerLink]="[ '/auth/login']" (click)="onNoClick()" >Login</button>
    </div>

  </div>
</section>
