<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="content">
                    <h2>
                        <span>Stay</span>cation.
                    </h2>
                    <p>
                        We kaboom your beauty holiday instantly and memorable.
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="content">
                    <h2>
                        For Beginners
                    </h2>
                   <ul class="m-0 p-0">
                    <li class="mb-1"><a>New Account</a></li>
                    <li class="mb-1"><a>Start Booking a Room</a></li>
                    <li class="mb-1"><a>Start Booking a Room</a></li>
                </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="content">
                    <h2>
                        Explore Us
                    </h2>
                   <ul class="m-0 p-0">
                    <li class="mb-1"><a>Our Careers</a></li>
                    <li class="mb-1"><a>Privacy</a></li>
                    <li class="mb-1"><a>Terms & Conditions</a></li>
                </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="content">
                    <h2>
                        Connect Us
                    </h2>
                   <ul class="m-0 p-0">
                    <li class="mb-1"><a>support@staycation.id</a></li>
                    <li class="mb-1"><a>021 - 2208 - 1996</a></li>
                    <li class="mb-1"><a>Staycation, Kemang, Jakarta</a></li>
                </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-2">
            <div class="col-md-12 text-center">
                <div>
                    <p>
                        Copyright 2019 • All rights reserved • Staycation
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>