.not-page{
  .not-btn{
      background-color: #E2E5EB;
      transition: 0.4s;
  &:hover{
      background-color: #b3c2e1 ;
  }
  i{
      transition: 0.4s;
  }
  &:hover i{
      transform: translateX(-5px);
  }
}
}
