<section class="auth">
    <div class="row    g-4 align-items-center ">
        <div class="col-md-6    ">
            <div class="d-flex flex-column align-items-start  vh-100">
                <h1 class=" text-primary-color ms-3 mt-3   ">Stay<span class="text-secondary-color">cation.</span> </h1>
                <div class="w-75  m-auto  mt-0">
                    <div>
                        <h1 class="mb-3 ">{{"auth.reset-password.reset-password"|translate}}</h1>
                        <p class="text-p">{{"auth.reset-password.have-account"|translate}}</p>
                        <p class="text-p">{{"auth.reset-password.you-can"|translate}} <span class="text-red-color " type="button" routerLink="/auth/login">
                                &nbsp;&nbsp;{{"auth.reset-password.login"|translate}}</span> </p>
                    </div>
                    <form [formGroup]="resetPassForm" (ngSubmit)="onResetPass(resetPassForm)" class="mt-4">
                        <div class="d-flex flex-column">
                            <label for="email" class="text-secondary-color mb-0 ">{{"auth.reset-password.email"|translate}}</label>
                            <div class="input-group ">
                                <input formControlName="email" type="email" class="form-control w-100"
                                    placeholder="Please type here ..." id="email" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div *ngIf="resetPassForm.get('email')?.errors && resetPassForm.get('email')?.touched"
                            class="d-flex align-items-center mt-1">
                            <img src="./assets/images/invalid.png" width="22" height="22" alt="" class="mx-2">
                            <p *ngIf="resetPassForm.get('email')?.getError('required')" class="m-0 text-danger ">
                              {{"auth.reset-password.email-required"|translate}}</p>
                            <p *ngIf="resetPassForm.get('email')?.getError('email')" class="m-0 text-danger">
                              {{"auth.reset-password.invalid-required"|translate}}</p>
                        </div>

                        <div class=" mt-3 d-flex flex-column ">
                            <label for="seed" class="text-secondary-color mb-0">{{"auth.reset-password.otp"|translate}}</label>
                            <div class="input-group d-flex align-items-center">
                                <input formControlName="seed" type="text" class="form-control"
                                    placeholder="Please type here ..." id="seed" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div *ngIf="resetPassForm.get('seed')?.errors && resetPassForm.get('seed')?.touched"
                            class="d-flex align-items-center mt-1">
                            <img src="./assets/images/invalid.png" width="22" height="22" alt="" class="mx-2">
                            <p *ngIf="resetPassForm.get('seed')?.getError('required')" class="text-danger m-0">
                              {{"auth.reset-password.code-required"|translate}}</p>
                                <p *ngIf="resetPassForm.get('seed')?.getError('pattern')" class="text-danger m-0">
                                  {{"auth.reset-password.code-error"|translate}}</p>
                        </div>

                        <div class=" mt-3 d-flex flex-column ">
                            <label for="password" class="text-secondary-color mb-0">{{"auth.reset-password.password"|translate}}</label>
                            <div class="input-group d-flex align-items-center">
                                <input formControlName="password" [type]="hide? 'password':'text'" class="form-control"
                                    placeholder="Please type here ..." id="password" aria-label="Username"
                                    aria-describedby="basic-addon1">
                                <span>
                                    <i (click)="hide=!hide" class="fa-regular  fs-5 pe-3 hide"
                                        [class]="hide? 'fa-eye-slash':'fa-eye' "></i>
                                </span>
                            </div>

                        </div>

                        <div *ngIf="resetPassForm.get('password')?.errors && resetPassForm.get('password')?.touched"
                            class="d-flex align-items-center mt-1">
                            <img src="./assets/images/invalid.png" width="22" height="22" alt="" class="mx-2">
                            <p *ngIf="resetPassForm.get('password')?.getError('required')" class="text-danger m-0">
                              {{"auth.reset-password.password-required"|translate}}</p>
                            <p *ngIf="resetPassForm.get('password')?.getError('pattern')" class="text-danger m-0">
                              {{"auth.reset-password.password-error"|translate}}</p>
                        </div>

                        <div class=" mt-3 d-flex flex-column ">
                            <label for="confirmPassword" class="text-secondary-color mb-0">{{"auth.reset-password.confirm-password"|translate}}</label>
                            <div class="input-group d-flex align-items-center">
                                <input formControlName="confirmPassword" [type]="show? 'password':'text'"
                                    class="form-control " placeholder="Please type here ..." id="confirmPassword"
                                    aria-label="Username" aria-describedby="basic-addon1">
                                <span>
                                    <i (click)="show=!show" class="fa-regular  fs-5 pe-3 hide"
                                        [class]="show? 'fa-eye-slash':'fa-eye' "></i>
                                </span>
                            </div>
                        </div>
                        <!-- <div *ngIf="resetPassForm.get('confirmPassword')?.errors && resetPassForm.get('confirmPassword')?.touched"
                            class="d-flex align-items-center mt-1">
                            <img src="./assets/images/invalid.png" width="22" height="22" alt="" class="mx-2">
                            <p *ngIf="resetPassForm.get('confirmPassword')?.getError('required')"
                                class="text-danger m-0 p-0">
                                confirmPassword is required</p>

                        </div> -->
                        <div class="text-danger ms-4"
                        *ngIf="resetPassForm.get('confirmPassword')?.getError('compare')">
                        <img
                            src="./assets/images/invalid.png"
                            width="22"
                            height="22" alt class="mx-2">
                            {{"auth.reset-password.password-match"|translate}}

                    </div>
                        <button [disabled]="resetPassForm.invalid" class="primary w-100 mt-4 mb-0">{{"auth.reset-password.reset"|translate}}</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-6 fullImage">
            <div>
                <img src="../../../../../assets/images/Group 33.png" class="w-100 vh-100 py-3" alt="">
            </div>
        </div> -->
        <div class="col-md-6 fullImage">
          <div class="photo vh-100 py-3">
              <img src="./assets/images/forget.png" class="w-100 h-100" alt="">
              <div class="layer ">
                <h2 >{{"auth.reset-password.forgot-password"|translate}}</h2>
                <p >{{"auth.reset-password.home-unique"|translate}}</p>
              </div>
          </div>
      </div>
    </div>
</section>
