<section class="not-page not-found vh-100 w-100" >
  <div class="container h-100 w-100">
    <div class="row d-flex justify-content-between h-100 align-items-center">
      <div class="col-md-4">
        <div class="content">
          <h2 class="font-weight-bold">{{"not-found.oops"|translate}}</h2>
          <h2 class="page">{{"not-found.not-found"|translate}}</h2>
          <p>
            {{"not-found.page-not-found"|translate}}
          </p>
        </div>

          <button class="primary w-100 mt-4 p-2" (click)="goHome()">
                <i class="fa-solid fa-arrow-left-long me-1 "></i>
                {{"not-found.back-home"|translate}}
        </button>
      </div>

      <div class="col-md-8 ">
        <img class="d-flex picture-not-found layer" src="../../../assets/images/not-found-404.png" alt="">
      </div>
    </div>
  </div>
</section>
