.fa-shopping-bag{
    color: 
    rgba(32, 63, 199, 1);
    font-size: 25px;
    
}
.item{
    border-radius: 0.9rem;
    color:#fff;
    background-color: rgba(26, 27, 30, 1);
}
.circle{
    border-radius: 50%;
    
    background-color: rgba(53, 80, 199, 0.2);
}
p{
    margin: 0 !important;
    font-size: 15px;
}
p span{
    font-size: 25px;
}