@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'css-star-rating/scss/star-rating';


/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
    margin: 0;
    font-family: "Poppins", sans-serif !important;

}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif !important;

}

.drop-zone{
    width: 12.75rem;
    height: 12.75rem;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    border: .5px dashed gray;
    background-color:  #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.cursor-pointer{
    cursor: pointer;
}



@import './assets/styles/abstracts/variables.scss';

.slider .owl-next,
.slider .owl-prev {
  background-color: $primary-color !important;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: var(--transition) !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  -webkit-transition: var(--transition) !important;
  -moz-transition: var(--transition) !important;
  -ms-transition: var(--transition) !important;
  -o-transition: var(--transition) !important;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  & svg {
    font-size: 18px;
    color: var(--light-color) !important;
  }
}
.slider .owl-prev {
  left: -15px !important;
}
.slider .owl-next {
  right: -15px !important;
}
.slider .owl-next:hover,
.slider .owl-prev:hover {
  background-color: #3252dfb7 !important;
}




@import '@angular/material/prebuilt-themes/pink-bluegrey.css' ;


.light-theme {
  @import '@angular/material/prebuilt-themes/indigo-pink.css';
}

.dark-theme {
  @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

[data-theme='dark'] {
  @import '@angular/material/prebuilt-themes/pink-bluegrey.css' ;

  --background-color: #424242;
  --text-color: #ffffff;
  body {
    background-color: #424242;
    color: #ffffff !important;
    h4,h3,h2{
      color: #fff !important;
    }
    .text-muted{
      color: #fff !important;
    }
    transition: all 0.2s linear;
   }
   button{
    background: rgb(30, 31, 31) !important;
    border: rgb(255, 255, 255, .5) solid 1px;
   }
   .nav-bar{
    border: rgb(255, 255, 255, .5) solid 1px;
    background: #424242c5 !important;
    color: #fff !important;
    a{
      color: #fff !important;
    }
    span{
      color: #ffffff !important;
    }
    .dropdown{
      .btn{
        background: rgb(30, 31, 31) !important;
        color: #fff !important;
      }
    }
  }


}



