$primary-color:#3252DF;
$secondary-color:#152C5B;
$red-color: #E74C3C;
$green-color: #1ABC9C;
$pink-color:#FF498B;
$rate-color:#FFCC47;
$dark-black: #494949;



$disabled-primary-color:#3252df96;




