$primary-color:#3252DF;
$secondary-color:#152C5B;
$red-color: #E74C3C;
$green-color: #1ABC9C;
$pink-color:#FF498B;
$rate-color:#FFCC47;
$dark-black: #494949;



$disabled-primary-color:#3252df96;

$white-color:#fff;

$table-header-bg-color:#E2E5EB;
$table-header-color:#1F263E;
$table-body-color:#3A3A3D;
$mat-icon-color:#203FC7;
$table-span-color:#1F263E;


