<section class="container d-flex align-items-center justify-content-center">
    <div class="row mt-3">
      <section class="row">
        <div class="col-md-7">
          <h1 class="h1">Forget Busy Work,<br>
            Start Next Vacation</h1>
          <p class="paragraph">We provide what you need to enjoy your holiday with family.<br> Time to make another memorable moments.</p>
          <div class="row">
            <h3 class="h3">Start Booking</h3>
            <div class="row">
              <div class="col-md-2">
                <h5>Pick a Date</h5>
                <button class="secondary icon">
                  <i class="fa-solid fa-calendar-days"></i>
                </button>
              </div>
              <div class="col-md-9 d-flex justify-content-start align-items-end">
                <p class="mx-1">20 Jan - 22 Jan</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 mt-2">
                <h5 class="">Capacity</h5>
                <button class="plus icon">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
              <div class="col-md-4 d-flex align-items-end">
                <p class="mx-4">2 person</p>
              </div>
              <div class="col-md-3 d-flex align-items-end">
                <button class="minus icon">
                  <i class="fa-solid fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="col-md-5">
              <button class="primary w-100 mt-4">Explore</button>
            </div>
          </div>
        </div>
        <div class="col-md-5 mt-3">
          <div class="w-75">
            <img class="image" src="../../../../../assets/images/home-1.png">
          </div>
        </div>
      </section>

      <section class="mt-3 ads">
        <h2 class="h2">Most popular ads</h2>
        <div class="row d-flex justify-content-center align-items-center w-100 bg-danger">
          <div class="col-md-4 card1 d-flex justify-content-center align-items-center">
            <img src="../../../../../assets/images/home-2.png" alt="Home 2">
          </div>
          <div class="col-md-8 d-flex justify-content-center align-items-center mt-3">
            <div class="row">
              <div class="col-md-6 card2">
                <img src="../../../../../assets/images/home-3.png" alt="Home 3">
              </div>
              <div class="col-md-6 card2">
                <img src="../../../../../assets/images/home-4.png" alt="Home 4">
              </div>
              <div class="col-md-6 card2">
                <img src="../../../../../assets/images/home-5.png" alt="Home 5">
              </div>
              <div class="col-md-6 card2">
                <img src="../../../../../assets/images/home-6.png" alt="Home 6">
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="">Beauty bg</section>
      <section class="">Living room</section>
      <section class="">ADS</section>
      <section class="">Testimonials</section>
  </div>
</section>
