
<section class="py-5 ">
  <div class="container">


    <section class="row g-4 align-items-center justify-content-center">
      <div class=" col-lg-6 order-1 order-lg-0  d-flex justify-content-center    flex-column ">
        <h1 class="h1 ">
          {{"home.header-1"|translate}}<br />
          {{"home.header-2"|translate}}
        </h1>
        <p class="paragraph">
          {{"home.description-1"|translate}}<br />
          {{"home.description-2"|translate}}
        </p>
        <div class="">
          <h3 class="h3">{{"home.start-booking"|translate}}</h3>
          <div class="">
            <div class="">
              <h5>{{"home.pick-date"|translate}}</h5>
              <mat-form-field class="example-form-field w-75" appearance="outline">
                <mat-label>{{"home.date"|translate}}</mat-label>
                <mat-date-range-input 
                  [formGroup]="campaignOne"
                  [rangePicker]="campaignOnePicker"
                  [comparisonStart]="campaignOne.value.start"
                  [comparisonEnd]="campaignOne.value.end">
                  <input matStartDate placeholder="Start date" formControlName="start">
                  <input matEndDate placeholder="End date" formControlName="end">
                </mat-date-range-input>
               
                <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
              </mat-form-field>

            </div>
         
          </div>
        

          <h5 class="">{{"home.capacity"|translate}}</h5>
          <div class="input-group mb-3 w-75 ">
            <div class="input-group-prepend">
              <span class="btn-minus p-3 px-4 input-group-text bg-main border rounded-end-0 bg-danger myPointer cursor-pointer"
                (click)="decrementValue()" id="basic-addon1"><i class="fa-solid fa-minus text-white"></i></span>
            </div>
  
            <input type="number" class="py-2 form-control text-center border border-end-0 border-start-0"
              [placeholder]="lang=='en'?'number of persons':'number of persons'" aria-label="Username"
              aria-describedby="basic-addon1" [(ngModel)]="capacity">
  
            <div class="input-group-prepend">
              <span class="btn-plus p-3 px-4 input-group-text bg-main rounded-start-0 bg-success myPointer cursor-pointer"
                (click)="incrementValue()" id="basic-addon1"><i class="fa-solid fa-plus text-white"></i></span>
            </div>
          </div>


          <div class="w-50 ">
            <button class="primary w-100 mt-3">{{"home.explore"|translate}}</button>
          </div>


        </div>
      </div>
      <div class=" col-lg-6 order-0 order-lg-1">
  

        <div class="position-relative d-flex justify-content-center w-100  h-100 ">
          <div class="mt-5 imag_home imag_home_border rounded-4 w-75 ms-auto" [class]="lang=='en'?'ms-auto':'me-auto'">
            <div class="imag-img_home w-100 h-100">
              <img src="../../../../../assets/images/home-1.png" alt="" class="homeImg w-100 h-100">
            </div>
          </div>
        </div>
      </div>


    </section>





    <section class="mt-5 py-3">
      <h2 class="h2 ">{{"home.most-popular-ads"|translate}}</h2>


      <div class="row justify-content-center g-4 ">
        <div class="d-none col-lg-4 d-lg-block ">
          <div *ngFor="let item of userAds.data.ads.slice(0,1)" class="big-card w-100">
            <img [src]="item.room.images[0]" alt="" class="w-100 imgHeight1 rounded-4">
  
            <div class="imag-icon">
              <a *ngIf="!(loginToFav === 'user' )" (click)="goLogin()"
                class=" text-decoration-none text-white"><i class="fa-solid fa-heart fav"></i></a>
              <a *ngIf="loginToFav === 'user' " class=" text-decoration-none text-white"
                (click)="saveRoomInFav(item.room._id)"><i class="fa-solid fa-heart fav"></i></a>
              <a class=" text-decoration-none text-white" [routerLink]="[ '/guest/room-details',item.room._id ]"><i
                  class="fa-solid fa-eye eye "></i></a>
  
            </div>
            <div class="imag-captain">
              <h4 class=" text-white title">{{item.room.roomNumber}}</h4>
              <h5 class=" text-white userName">{{item.createdBy.userName}}</h5>
            </div>
            <div class="imag-price px-5">
              <p class="text-white">$ <span class="h6 text-white fw-bolder">{{item.room.price}}</span>
                {{"home.per-night"|translate}}</p>
            </div>
          </div>
        </div>
        <div class=" col-md-6 col-lg-4">
  
          <div *ngFor="let item of userAds.data.ads.slice(1,3)" class=" card-sm mt-4 w-100">
            <img [src]="item.room.images[0]" alt="" class="w-100 imgHeight2 rounded-4 ">
            <div class="imag-icon">
              <a *ngIf="!(loginToFav === 'user' )" (click)="goLogin()"
                class=" text-decoration-none text-white"><i class="fa-solid fa-heart fav"></i></a>
              <a *ngIf="loginToFav === 'user' " class=" text-decoration-none text-white"
                (click)="saveRoomInFav(item.room._id)"><i class="fa-solid fa-heart fav"></i></a>
              <a class=" text-decoration-none text-white" [routerLink]="[ '/guest/room-details',item.room._id ]"><i
                  class="fa-solid fa-eye eye "></i></a>
            </div>
            <div class="imag-captain">
              <h4 class=" text-white title">{{item.room.roomNumber}}</h4>
              <h5 class=" text-white userName">{{item.createdBy.userName}}</h5>
            </div>
            <div class="imag-price px-5">
              <p class="text-white">$ <span class="h6 text-white fw-bolder">{{item.room.price}}</span>
                {{"home.per-night"|translate}}</p>
            </div>
          </div>
        </div>
        <div class=" col-md-6 col-lg-4">
  
  
          <div *ngFor="let item of userAds.data.ads.slice(3,5)" class="  card-sm mt-4 w-100">
            <img [src]="item.room.images[0]" alt="" class="w-100 imgHeight2 rounded-4 ">
  
            <div class="imag-icon">
              <a *ngIf="!(loginToFav === 'user' )" (click)="goLogin()"
                class=" text-decoration-none text-white"><i class="fa-solid fa-heart fav"></i></a>
              <a *ngIf="loginToFav === 'user' " class=" text-decoration-none text-white"
                (click)="saveRoomInFav(item.room._id)"><i class="fa-solid fa-heart fav"></i></a>
              <a class=" text-decoration-none text-white" [routerLink]="[ '/guest/room-details',item.room._id ]"><i
                  class="fa-solid fa-eye eye"></i></a>
  
  
            </div>
            <div class="imag-captain">
              <h4 class=" text-white title">{{item.room.roomNumber}}</h4>
              <h5 class=" text-white userName">{{item.createdBy.userName}}</h5>
            </div>
            <div class="imag-price px-5">
              <p class="text-white">$ <span class="h6 text-white fw-bolder">{{item.room.price}}</span>
                {{"home.per-night"|translate}}</p>
  
            </div>
          </div>
        </div>
      </div>
 
    </section>





    <section class="mt-5 ">
      <h2 class="h2">{{"home.house-with-backyard"|translate}}</h2>

      <div class=" slider ">
        <owl-carousel-o [options]="roomsOption"  dir="ltr">
          <ng-container *ngFor="let room of roomsRes.data.rooms">
            <ng-template carouselSlide>
              <div class=" card-sm ">
                  <img [src]="room.images[0]" alt="" class="w-100 imgHeight2 rounded-4 ">
        
                  <div class="imag-icon">
                    <a *ngIf="!(loginToFav === 'user' )" (click)="goLogin()"
                      class=" text-decoration-none text-white"><i class="fa-solid fa-heart fav"></i></a>
                    <a *ngIf="loginToFav === 'user' " class=" text-decoration-none text-white"
                      (click)="saveRoomInFav(room._id)"><i class="fa-solid fa-heart fav"></i></a>
                    <a class=" text-decoration-none text-white" [routerLink]="[ '/guest/room-details',room._id ]"><i
                        class="fa-solid fa-eye eye "></i></a>
                  </div>
                 
                  <div class="imag-price px-3">
                    <p class="text-white">{{"home.popular-choice"|translate}}</p>
        
                  </div>
                </div>
                <div class="" >
                  <h4 class="mt-2 h3  text-secondary-color">{{room.roomNumber}}</h4>
                  <h5 class=" p-0 m-0 text-main-p">Bogor, Indonesia</h5>
                </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </section>



    <section class="mt-5">
      <h2 class="h2">{{"home.ads"|translate}}</h2>
      <div class=" slider">
        <owl-carousel-o [options]="adsOption" dir="ltr">
          <ng-container *ngFor="let ad of userAds.data.ads">
            <ng-template carouselSlide>
              <div class=" card-sm ">
                  <img [src]="ad.room.images[0]" alt="" class="w-100 imgHeight2 rounded-4 ">
        
                  <div class="imag-icon">
                    <a *ngIf="!(loginToFav === 'user' )" (click)="goLogin()"
                      class=" text-decoration-none text-white"><i class="fa-solid fa-heart fav"></i></a>
                    <a *ngIf="loginToFav === 'user' " class=" text-decoration-none text-white"
                      (click)="saveRoomInFav(ad.room._id)"><i class="fa-solid fa-heart fav"></i></a>
                    <a class=" text-decoration-none text-white" [routerLink]="[ '/guest/room-details',ad.room._id ]"><i
                        class="fa-solid fa-eye eye "></i></a>
                  </div>
                 
                  <div class="imag-price px-3">
                    <p class="text-white">$ <span class="h6 text-white fw-bolder">{{ad.room.discount}}</span>
                      {{"home.off"|translate}}</p>        
                  </div>
                </div>
                <div class="">
                  <h4 class="mt-2 h3  text-secondary-color">{{ad.room.roomNumber}}</h4>
                  <h5 class=" p-0 m-0 text-main-p">Bogor, Indonesia</h5>
                </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </section>

    

    <section class="mt-5">
      <div class=" slider">

      <owl-carousel-o [options]="testimonialOptions" dir="ltr">
        <ng-template carouselSlide>


          <div class="row g-4">
            <div  class="col-xl-5 ">
              <div class="test-card">
                <img class="w-100 h-100" src="../../../../../assets/images/home-19.png" alt="" />

              </div>
            </div>
            <div class="col-xl-7 " [class]="lang=='en'?'text-start':'text-end'">
              <h2>{{"home.happy-family"|translate}}</h2>
              <div class="star-container my-2 mt-4  " [class]="lang=='en'?'justify-content-start':'justify-content-end'">
                <i *ngFor="let star of stars" class="fa-solid fa-star"></i>
              </div>
              <h4 class="h4">
                {{"home.testimonial-1"|translate}}
              </h4>
              <p class="paragraph">{{"home.guest-1"|translate}}</p>
             
            </div>
          </div>

        </ng-template>  
        <ng-template carouselSlide>

          <div class="row g-4">
            <div  class="col-xl-5 ">
              <div class="test-card">
                <img class="w-100 h-100" src="../../../../../assets/images/family2.jpg" alt="" />

              </div>            </div>
            <div class="col-xl-7 " [class]="lang=='en'?'text-start':'text-end'">
              <h2>{{"home.fantastic-getaway"|translate}}</h2>
              <div class="star-container my-2 mt-4" [class]="lang=='en'?'justify-content-start':'justify-content-end'">
                <i *ngFor="let star of stars" class="fa-solid fa-star"></i>
              </div>
              <h4 class="h4">
                {{"home.testimonial-2"|translate}}
              </h4>
              <p class="paragraph">{{"home.guest-2"|translate}}</p>
             
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>

          <div class="row g-4">
            <div  class="col-xl-5 ">
              <div class="test-card">
                <img class="w-100 h-100" src="../../../../../assets/images/family3.jpg" alt="" />

              </div>            </div>
            <div class="col-xl-7 "  [class]="lang=='en'?'text-start':'text-end'">
              <h2>{{"home.wonderful-journey"|translate}}</h2>
              <div class="star-container my-2 mt-4" [class]="lang=='en'?'justify-content-start':'justify-content-end'">
                <i *ngFor="let star of stars" class="fa-solid fa-star"></i>
              </div>
              <h4 class="h4">
                {{"home.testimonial-3"|translate}}
              </h4>
              <p class="paragraph">{{"home.guest-3"|translate}}
              </p>
             
            </div>
          </div>
        </ng-template>  
      </owl-carousel-o>

    </div>
 
    </section>
  </div>

</section>
