
<section id="user-view" >


  
  
    <div class=" main ">
      <div class="view  ">
    <mat-card class="p-5 rounded-5 bg-light" >
  
        <div class="row">
          <div class="col-md-4 d-flex align-items-center justify-content-center ">
            <div >
              <div >
                <img class="img-fluid rounded-circle" [src]="userDataRes.data.user.profileImage" alt="">
              </div>
           
            </div>
             
            </div>
          <div class="col-md-8">
                  <div class="title my-4">
                    <h3>User: <span class="seconary-color">
                      {{userDataRes.data.user.userName}}
                    </span></h3>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label class="text-secondry">User Name</mat-label>
                        <input class="text-main"  matInput [value]="userDataRes.data.user.userName" [disabled]="true"/>
                      </mat-form-field>

                      
      
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label class="text-secondry">E-mail</mat-label>
                        <input class="text-main"  matInput [value]="userDataRes.data.user.email" [disabled]="true"/>
                      </mat-form-field>
      
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label class="text-secondry">Country</mat-label>
                        <input class="text-main"  matInput [value]="userDataRes.data.user.country" [disabled]="true"/>
                      </mat-form-field>
      
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label class="text-secondry">Phone Number</mat-label>
                        <input class="text-main"  matInput [value]="userDataRes.data.user.phoneNumber" [disabled]="true"/>
                      </mat-form-field>
      
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label class="text-secondry">Join Date</mat-label>
                        <input class="text-main"  matInput [value]="userDataRes.data.user.createdAt" [disabled]="true"/>
                      </mat-form-field>
      
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label class="text-secondry">Role</mat-label>
                        <input class="text-main"  matInput [value]="userDataRes.data.user.role" [disabled]="true"/>
                      </mat-form-field>
      
                    </div>
                    <div class="table-card text-end">
                      <button type="submit" class="px-4 status" >Cancel</button>
                    </div>
             
  
                </div>
          </div>
         
        </div>
  
    </mat-card>
  </div>
  
  </div>
  
      </section>
      