
<section id="user-view" class="my-3" >

 <div class=" main ">
<div class="container">

  <div class="row mt-4">
    <!--breadcurmb-->
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb " >
          <li class="breadcrumb-item"><a  (click)="goToHomeOrUsers()">
            <span class="fs-6 ms-2 text-secondary-color">
              <ng-container *ngIf="isViewUser; else backHome">
                {{"profile.view-users" | translate}}
              </ng-container>
              <ng-template #backHome>
                {{"profile.back-home" | translate}}
              </ng-template>
            </span>
          
          </a></li>
          <li class="breadcrumb-item active" [class]="lang=='en'?'breadcrumb-item':'breadcrumb-item-itedited'" aria-current="page"> {{"user-navbar.profile"|translate}}</li>
        </ol>
      </nav>
    </div>
  </div>

 

        <div class=" vh  d-flex align-items-center">


    <mat-card class="p-5  rounded-5 bg-light my-5" >



        <div class="row g-4 align-items-center">
          <div class="col-lg-4 d-flex align-items-center justify-content-center ">
              <div >
                <img class="img-fluid rounded-circle" [src]="userDataRes.data.user.profileImage" alt="">
              </div>

            </div>
          <div class="col-lg-8">

                  <div class="row">
                    <div class="col-md-6">

                      <div class="title my-4 d-flex  align-items-center" >
                        <h2 class=" m-0 text-secondary-color h5">{{"profile.username"|translate}} </h2>
                        <span class="ms-2 fs-6">
                          {{userDataRes.data.user.userName}}
                        </span>
                      </div>


                    </div>
                    <div class="col-md-6">

                      <div class="title my-4 d-flex  align-items-center" >
                        <h2 class=" m-0 text-secondary-color h5">{{"profile.email"|translate}} </h2>
                        <span class="ms-2 fs-6">
                          {{userDataRes.data.user.email}}
                        </span>
                      </div>

                    </div>
                    <div class="col-md-6">

                      <div class="title my-4 d-flex  align-items-center" >
                        <h2 class=" m-0 text-secondary-color h5">{{"profile.country"|translate}} </h2>
                        <span class="ms-2 fs-6">
                          {{userDataRes.data.user.country}}
                        </span>
                      </div>


                    </div>
                    <div class="col-md-6">

                      <div class="title my-4 d-flex  align-items-center" >
                        <h2 class=" m-0 text-secondary-color h5">{{"profile.phone"|translate}} </h2>
                        <span class="ms-2 fs-6">
                          {{userDataRes.data.user.phoneNumber}}
                        </span>
                      </div>


                    </div>
                    <div class="col-md-6">

                      <div class="title my-4 d-flex  align-items-center" >
                        <h2 class=" m-0 text-secondary-color h5">{{"profile.join-date"|translate}} </h2>
                        <span class="ms-2 fs-6">
                          {{userDataRes.data.user.createdAt | date: 'short'}}
                        </span>
                      </div>


                    </div>
                    <div class="col-md-6">

                      <div class="title my-4 d-flex  align-items-center" >
                        <h2 class=" m-0 text-secondary-color h5">{{"profile.role"|translate}} </h2>
                        <span class="ms-2 fs-6">
                          {{userDataRes.data.user.role}}
                        </span>
                      </div>


                    </div>



                </div>
          </div>

        </div>

    </mat-card>
  </div>
</div>


</div>

      </section>
