<section class="">
<!--
<h1 [dir]="lang=='en'? 'ltr':'rtl'">{{"hello"|translate}}</h1>
<select  id="" #selectLang (change)="selectChange(selectLang.value)"> 
    <option value="en">English</option>
    <option value="ar">Arabic</option>

</select>
 -->


 <!--
 <div class="card">
    <div class="card-image">
      <img src="../../../assets/images/no-data.PNG" alt="Card Image">
      <div class="price-tag"><span>$50 &nbsp;</span> per night</div>

      <div class="card-content">
        <h3 class="title">Blue Origin Fams</h3>
        <h4 class="location">Jakarta, Indonesia</h4>
      </div>

      <div class="card-icons">
        <i class="fa-solid fa-heart icon"></i> 
        <i class="fa-solid fa-eye  icon"></i>
      </div>
    </div>
  
  </div>             -->
  


<!-- nav -->

<router-outlet></router-outlet>

<!-- footer -->


</section>